* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  
  .card {
    display: flex;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }

  .image-section {
    width: 50%;
  }
  
  
  .image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

  
  
  .product-details {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .category {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: hsl(228, 12%, 48%);
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
    line-height: 1.2;
    margin-bottom: 15px;
  }
  
  .product-desc p {
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .price {
    display: flex;
    align-items: center;
    /* gap: 15px; */
    margin-bottom: 20px;
  }
  
  .sale-price {
    font-size: 1.8rem;
    font-weight: 700;
    color: rgb(60, 128, 103);
  }
  
  .list-price {
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
  }
  
  .add-to-cart {
    background-color: rgb(60, 128, 103);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 12px 0;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-to-cart:hover,
  .add-to-cart:focus {
    background-color: rgb(60, 128, 103);
  }
  
  
  footer {
    margin-top: 20px;
  }
  
  .attribution {
    font-size: 12px;
    /* text-align: center; */
    color: hsl(228, 12%, 48%);
  }
  
  .attribution a {
    color: rgb(60, 128, 103);
    text-decoration: none;
  }

  .mobile-img {
    display: none;
  }

  
  
  
  @media (max-width: 600px) {
    .card {
      flex-direction: column;
      width: 90%;
      height: 90%;
    }

    .desktop-img {
      display: none;
    }


  
    .image-section{
      width: 100%;
      height :28%;

    }

    .mobile-img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .product-details {
      width: 100%;
      height: 60%;
    }
  }
  